<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="static/app1/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'app1/css/styles.css' %}" rel="stylesheet" />
    
    <title>Mi_Pagina</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" >Sesión Cerrada</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{%url 'login'%}">Iniciar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'register'%}">Registrarme</a></li>
                </ul>
            </div>
        </div>
    </nav>     
    <img src="https://i.pinimg.com/736x/18/01/9d/18019d3cd9a25432fff786be1f2c22b5--when-is-summer-brain.jpg" alt="" style="width: 600px;margin: auto;display: block;margin-top: 6cm;">
</body>
</html>