{% extends "user/panel_login.html"%}
{%block log%}
<h1 class="h3 mb-3 fw-normal">Crear Usuario</h1>

      <p>Username: {{form.username}}</p>
      <br>
      <p>Contraseña: {{form.password1}}</p>
      <br>
      <p>Contraseña: {{form.password2}}</p>
   

     


    
    <div class="checkbox mb-3">
      <label>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarme</button> 
    {% if form.errors %}
    <p>No correspoden las contraseña, el nombre de usuario no es valido o la contraseña es muy parecida al usuario</p>
    {% endif %}
</form>
<br>  
{%endblock%}